<div class="statistics">
    <div class="left-side">
        <app-widget [count]='likes' [widgetType]="WidgetTypeEnum.Likes"></app-widget>
        <app-widget [count]='comments' [widgetType]="WidgetTypeEnum.Comments"></app-widget>
        <app-widget [count]='shares' [widgetType]="WidgetTypeEnum.Shares"></app-widget>
    </div>
    <div class="rigth-side">
        <app-widget [count]='rating' [widgetType]="WidgetTypeEnum.Rating"></app-widget>
        <app-widget [count]='views' [widgetType]="WidgetTypeEnum.Views"></app-widget>
    </div>
</div>