<div class="statistics">
    <div class="left-side">
        <app-widget [count]='11' [widgetType]="WidgetTypeEnum.Likes"></app-widget>
        <app-widget [count]='22' [widgetType]="WidgetTypeEnum.Comments"></app-widget>
        <app-widget [count]='33' [widgetType]="WidgetTypeEnum.Shares"></app-widget>
    </div>
    <div class="rigth-side">
        <app-widget [count]='44' [widgetType]="WidgetTypeEnum.Rating"></app-widget>
        <app-widget [count]='55' [widgetType]="WidgetTypeEnum.Views"></app-widget>
    </div>
</div>