<div class="statistics">
    <div class="left-side">
        <app-widget [count]='24' [widgetType]="WidgetTypeEnum.Likes"></app-widget>
        <app-widget [count]='42' [widgetType]="WidgetTypeEnum.Comments"></app-widget>
        <app-widget [count]='4242' [widgetType]="WidgetTypeEnum.Shares"></app-widget>
    </div>
    <div class="rigth-side">
        <app-widget [count]='32' [widgetType]="WidgetTypeEnum.Rating"></app-widget>
        <app-widget [count]='123' [widgetType]="WidgetTypeEnum.Views"></app-widget>
    </div>
</div>