.header {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    
    background: #5ab3e4;
    box-shadow: 0px 4px 4px rgba(204, 204, 204, 0.5);
}

.content {
    align-items: center;
    display: flex;
    height: 80px;
}

.brand {
    display: flex;
    margin-left: 30px;
}

.logo {
    background: url("/assets/img/logo.svg") no-repeat;
    height: 45px;
    width: 45px;
}