.header {
    background: #5ab3e4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 108;
    flex-wrap: wrap;

    .content {
        align-items: center;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 80px;
    }
}

.brand {
    display: flex;
    align-items: center;
    height: 45px;
    margin-left: 30px;
    margin-right: 20px;
}

.logo {
    background: url("/assets/img/logo.svg") no-repeat;
    height: 45px;
    width: 45px;
}