.author {
    display: flex;
    justify-content: left;

    font-family: SF Pro Display;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;

    .author-img {
        background: #0c0c0c;
        margin-right: 10px;
    }

    .name {
        color: #0c6495;
    }

    .time {
        color: #999999;
    }
}
