.lesson-card {
    width: 800px;

    background: #ffffff;
    border: 0.5px solid #dbdbdb;
    box-shadow: 4px 0px 7px rgba(238, 238, 238, 0.25), -4px 0px 7px rgba(238, 238, 238, 0.25),
        0px 4px 7px rgba(238, 238, 238, 0.25), 0px -4px 7px rgba(238, 238, 238, 0.25);
    border-radius: 10px;
}

.lesson-content{
    margin: 30px;
}
