.lesson-card {
    width: 800px;

    background: #ffffff;
    border: 0.5px solid #dbdbdb;
    box-shadow: 4px 0px 7px rgba(238, 238, 238, 0.25), -4px 0px 7px rgba(238, 238, 238, 0.25),
        0px 4px 7px rgba(238, 238, 238, 0.25), 0px -4px 7px rgba(238, 238, 238, 0.25);
    border-radius: 10px;
}

.lesson-content{
    margin: 30px;
}

.lesson-details {
    margin-top: 20px;
    display: flex;
}

.lesson-img {
    height: 190px;
    margin-right: 20px;
    position: relative;
    width: 190px;

    border: solid 1px #777777;
    border-radius: 10px;
    box-sizing: border-box;
}

.lesson-info {
    flex-direction: column;

    font-family: SF Pro Display;

    line-height: 100%;
    align-items: center;

    .lesson-type {
        font-size: 18px;
        margin-top: 20px;
        color: #5ab3e4;
    }

    .title {
        margin-top: 6px;
        font-size: 24px;
        line-height: 100%;

        color: #1e252b;
    }

    .sub-title {
        margin-top: 10px;
        font-size: 18px;
        line-height: 22px;

        color: #181c2f;
    }

    .level {
        margin-top: 13px;
        font-size: 12px;

        color: #5f6d7a;
    }
}
