<div class="lesson-card">
    <div class="lesson-content">
        <app-author [model]='author'></app-author>

        <div class="lesson-details">
            <div class="lesson-img"></div>
            <div class="lesson-info">
                <div class="lesson-type">Lesson</div>
                <div class="title">{{ lessonTitle }}</div>
                <div class="sub-title">{{ lessonSubTitle }}</div>
                <div class="level">Medium</div>
            </div>
        </div>

        <app-tabs [titles]='tabsTitles' [contents]='tabsContents'></app-tabs>
        <app-button [label]='buttonLabel'></app-button>
        <app-statistics></app-statistics>
        <app-comments [lessonId]='lessonId'></app-comments>
    </div>
</div>