<div class="existing-comments">
    <div class="comment-text" *ngFor="let comment of comments">
        {{ comment.content }}
    </div>
</div>
<div class="load-next-comments">
    <span class="text">Показать следующие комментарии</span>
</div>
<div class="comment-section">
    <div class='comment-block'>
        <div class="attachment"></div>
        <input [(ngModel)]="newComment" type="text" placeholder="Написать комментарий" />
    </div>
    <div>
        <button class="send-comment" (click)="addComment()"></button>
    </div>
</div>