<div>
    <div class="existing-comment" *ngFor="let comment of comments">
        <div class="author-img">
            <img alt="author avatar" [attr.src]="comment.author.picUrl" />
        </div>
        <div class="author-info">
            <div class="name">{{ comment.author?.firstName }} {{ comment.author?.lastName }}</div>
            <div class="comment-text" [innerHTML]="comment.content">
            </div>
            <div class="time">{{ formatToAmPmTime(comment.publishedAt) }}</div>
        </div>
    </div>
</div>
<div class="load-next-comments">
    <span class="text" (click)="loadMoreComments()">Показать следующие комментарии</span>
</div>
<div class="new-comment-section">
    <div class='comment-block'>
        <div class="attachment"></div>
        <input [(ngModel)]="newCommentText" type="text" placeholder="Написать комментарий" />
    </div>
    <div>
        <button class="send-comment" (click)="addComment()"></button>
    </div>
</div>