.tabs ul {
    display: flex;
}

li {
    padding: 0 20px;
    font-size: 14px;
    line-height: 100%;

    display: flex;
    align-items: center;
    text-align: center;
    color: #41a1d9;

    
}
li.active {
    border-bottom: 2px solid #dd0b0b;
}



.line {
    width: 340px;
    height: 1px;
    margin-top: 14px;
    background: #eeeeee;
}
