.right-sidebar[_ngcontent-lingo2-web-c244] {
    background: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: unset;
    position: fixed;
    right: 0;
    top: 80px;
    bottom: 0;
    transform: translateX(100%);
    width: 320px;
    z-index: 100;
}