.right-sidebar {
    display: flex;
    justify-content: space-end;
    width: 290px;
    height: 100%;
    
    background: #F7F7F7;
    box-shadow: 4px 0px 4px rgba(204, 204, 204, 0.25);
}

@media (max-width: 1100px) {
    .right-sidebar {
        display: none;
    }
}