.likes-widget{
    display: flex;
}

.comments-widget{
    display: flex;

}
.shares-widget{
    display: flex;

}
.shared-widget{
    display: flex;

}
.rating-widget{
    display: flex;

}
.views-widget{
    display: flex;

}