.statistic-parameter {
    display: flex;
    margin-right: 41px;

    align-items: center;

    .icon {
        background-size: cover;
        margin-right: 8px;

        .likes-widget {
            margin-left: 20px;

            background: url("/assets/img/likes.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .comments-widget {
            background: url("/assets/img/comments.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .shares-widget {
            background: url("/assets/img/share.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .rating-widget {
            background: url("/assets/img/rating.svg") no-repeat;
            width: 22px;
            height: 20px;
            color: #E7D878;
        }
        .views-widget {
            background: url("/assets/img/view.svg") no-repeat;
            width: 22px;
            height: 20px;
            color: #5AB3E4;

        }
    }

    .number {
        font-size: 14px;
        line-height: 22px;

        color: #a9adb7;
    }
}
