.statistic-parameter {
    display: flex;
    margin-right: 30px;

    .icon {
        background-size: cover;
        margin-right: 8px;

        .likes-widget {
            background: url("/assets/img/likes.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .comments-widget {
            background: url("/assets/img/comments.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .shares-widget {
            background: url("/assets/img/share.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .rating-widget {
            background: url("/assets/img/rating.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
        .views-widget {
            background: url("/assets/img/view.svg") no-repeat;
            width: 22px;
            height: 20px;
        }
    }

    .number {
        font-size: 14px;
        line-height: 22px;

        color: #a9adb7;
    }
}
